*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body,html{
    height:100%;
    width: 100%;
    background:linear-gradient(135deg,#080808,#374d44);
    user-select: none;
}
#parent{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.player{
    width:320px;
    background:#111;
    padding:25px;
    border-radius:20px;
    text-align:center;
    color:white;
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
    margin-top: 27%;
}

.player h2{
    margin-bottom:20px;
    font-size:20px;
}



.controls{
    display:flex;
    justify-content:center;
    gap:20px;
}

.controls button{
    background:#1db954;
    border:none;
    padding:12px 16px;
    font-size:20px;
    border-radius:50%;
    cursor:pointer;
    color:black;
    transition:0.3s;
}

.controls button:hover{
    transform:scale(1.1);
}
audio{
    display: none;
}

#title{
    display: none;
}
.nav{
    height: 30px;
    width: 100%;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    position: fixed;
}
.nav h1{
    color: white;
    font-weight: 300;
    font-size: 27px;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.link{
    font-size: 15px;
    width: 80px;
    height: 100%;
    padding-top: 10px;
    color: rgb(145, 143, 143);
    font-weight: 300;
    padding-left: 150px;
    cursor: pointer;
    background-color: red;
    display: inline-block;
}

.h2:hover{
    color: rgb(201, 195, 195);
}

.search{
    font-size: 15px;
    padding-top: 10px;
    height: 30px;
    color: rgb(205, 202, 202);
    background-color: rgb(68, 67, 67);
    border: none;
    font-weight: 200;
    padding-right: 150px;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}
.search-icon{
    font-size: 25px;
    padding-top: 15px; 
    color: rgb(102, 97, 97);
}
.search-icon:hover{
    transform: scale(2);
    color: rgb(196, 193, 193);
}
#parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    font-size: 20px;
    color: white;
    background-color: #3f3e3e;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 2px;
}
.h2{
    color: white;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    font-weight: 100;
}
.singing{
    color: white;
    font-size: 20px;
    
}
.btn{
    height: 30px;
    width: 60px;
    border-radius: 30px;
    border: none;

}
.line{
    height: 80%;
    width: 2px;
    background-color: wheat;
}
.btn:hover{
    background-color: #c4bdbd;
}