*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body,html{
    height:100%;
    width: 100%;
    background:linear-gradient(135deg,#080808,#374d44);
    user-select: none;
}
#parent{
    height: 100vh;
    background-color: rgb(20, 19, 19);
}
.player{
    width:320px;
    background:#212020;
    padding:25px;
    border-radius:20px;
    text-align:center;
    color:white;
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
    margin-top: 27%;
    position: fixed;
    left: 37%;
    bottom: 5%;
}

.player h2{
    margin-bottom:20px;
    font-size:20px;
}



.controls{
    display:flex;
    justify-content:center;
    gap:20px;
}

.controls button{
    background:#1db954;
    border:none;
    padding:12px 16px;
    font-size:20px;
    border-radius:50%;
    cursor:pointer;
    color:black;
    transition:0.3s;
}

.controls button:hover{
    transform:scale(1.1);
}
audio{
    display: none;
}

#title{
    display: none;
}
.nav{
    height: 50px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2px;
    position: fixed;
}
.nav h1{
    color: white;
    font-weight: 300;
    font-size: 27px;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.link{
    font-size: 15px;
    width: 80px;
    height: 100%;
    padding-top: 10px;
    color: rgb(145, 143, 143);
    font-weight: 300;
    padding-left: 150px;
    cursor: pointer;
    background-color: red;
    display: inline-block;
}

.h2:hover{
    color: rgb(201, 195, 195);
}

.search{
    font-size: 15px;
    padding-top: 10px;
    height: 30px;
    color: rgb(205, 202, 202);
    background-color: rgb(68, 67, 67);
    border: none;
    font-weight: 200;
    padding-right: 150px;
    cursor: pointer;
    border-radius: 30px;
    border: white 1px solid;
    text-align: center;
}
.search-icon{
    font-size: 25px;
    padding-top: 15px; 
    color: rgb(102, 97, 97);
}
.search-icon:hover{
    transform: scale(2);
    color: rgb(196, 193, 193);
}
#parent{
    display: flex;
    
}
.home{
    font-size: 20px;
   margin-top: 5px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 2px;
}
.h2{
    color: white;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    font-weight: 100;
}
.singing{
    color: white;
    font-size: 20px;
    
}
.btn{
    height: 30px;
    width: 60px;
    border-radius: 30px;
    border: none;

}
.line{
    height: 80%;
    width: 2px;
    background-color: wheat;
}
.btn:hover{
    background-color: #c4bdbd;
}
.playlist{
    top: 20%;
    color: rgb(255, 255, 255);
    height: 60%;
    width: 100%;
    display: flex;
    margin-top: 5%;
    padding: 0;
    /* background-color: red; */
    overflow: auto;
    padding-left: 250px;
}
.playBtn{
    font-weight: 100;
    margin-left: 5%;
    margin-top: 3%;
    height: 30px;
    width: 70px;
    padding: 3px;
    color: white;
    background-color: rgb(47, 46, 46);
    border-radius: 40px;
    border: none;
}
.twobtn{
    margin-left: -80px;
    position: fixed;
}
.threebtn{
    margin-left: 10px;
    position: fixed;
}
.onebtn{
    margin-left: -160px;
    position: fixed;
}
.playBtn:hover{
background-color: #646060;
}
.SongList{
    height: 350px;
    width: 100%;
    margin-top: 130px;
    /* background-color: red; */
    display: flex;
    margin-left: -200px;
    color: rgb(245, 233, 233);
    flex-direction: column;
    display: none;
}
.songs{
    display: flex;
    justify-content: start;
    margin-top: 4px;
    height: 40px;
    width: 115%;
    padding-top: 8px;
    padding-left: 50px;
    font-weight: 200;
}
.songs:hover{
  background-color: #1c1818;
}
.songIcon{
    margin-right: 30px;
}
.active h3{
animation: anime 20s linear infinite;
}
@keyframes anime {
    50%{
        transform: translateX(70%);
    }
    100%{
        transform: translateX(-0%);
        color: #c4bdbd;

    }
}
.Addlist{
    height: 350px;
    width: 80%;
    margin-top: 130px;
    /* background-color: red; */
    display: flex;
    margin-left: -1200px;
    color: rgb(245, 233, 233);

    flex-direction: column;
    padding-top: 10px;
    padding-left: 300px;
    display: none;

}
.Addlist h2{
    color: rgb(160, 151, 151);
    margin-left: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-shadow: 2px 2px 5px rgb(190, 88, 88);
}
#main{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fileimp{
    display: none;
}
#btn{
    background-color: rgb(74, 115, 32);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    user-select: none;
}
#btn:hover{
    background-color: rgb(67, 88, 45);
}
#atag{
color: red;
padding: 20px;
}
#loginPage{
    height: 100%;
    width: 400vw;
    background-color: #958080;
    z-index: 9999;
    margin-right: 17%;
    display: grid;
    display: none;
    
}
.left{
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    width: 70%;
    background-color: rgb(0, 0, 0);
}
.right{
    margin: 0;
    margin-left: -74%;
    padding-top: 30%;
    padding-right:14%;
    grid-column: 2;
    height: 100%;
    width: 174%;
    background-color: rgb(0, 0, 0);
    color: white;
}

#img-2{
    padding-top: 20%;
    padding-bottom: 10%;
    
    width: 80%;
    height: 80%;
}
.bottum{
    grid-row: 2;
    height: 100%;
    width: 151%;
    color: #a29c9c;
    background-color: #010101;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    font-weight: 100;
}
#loginPage h1{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 35px;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;
}
#loginPage input{
    height: 30px;
    width: 230px;
    background-color: #534d4d;
    display: block;
    border-radius: 10px;
    border: 1px solid white;
  margin-left: 22px;
  color: white;
  padding-left: 5px;
}

.logIn{
    height: 30px;
    width: 230px;
    background-color: #4d5dee;
    display: block;
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 22px;
    margin-top: 5px;
    border: none;
    font-weight: 100;
    cursor: pointer;
    
}
.or{
    padding-left: 130px;
    padding-top: 10px;
}
.forgot{
    color: rgb(233, 153, 153);
    padding-left: 73px;
    padding-top: 10px;
    cursor: pointer;
}
.signup{
    color: rgb(233, 153, 153);
    padding-left: 25px;
    padding-top: 10px;
    cursor: pointer;
    
}
.bottum span:hover{
   color: rgb(255, 255, 255);
}
#submitBtn{
    height: 30px;
    width: 60px;
    background-color: #707ad3;
    display: block;
    border-radius: 10px;
    border: 1px solid white;
    /* margin-left: 22px; */
    /* margin-top: 5px; */
    border: none;
    font-weight: 100;
    cursor: pointer;
}
@media (max-width:600px){
    .player{
        left: 6%;
        margin-top: 50%;
    }
 
.playBtn{
    margin-left: 5%;
    margin-top: 45%;

}
.SongList{
    margin-top: 60%;
    margin-left: -280px;
    width: 100%;
}
.nav{
    height: 50px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    position: fixed;
    padding-left: 10px;
}
.nav h1{
    color: white;
    font-weight: 300;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  font-size: 38px;

}
.search{
    margin-top: 150px;
    margin-left: -290px;
    font-size: 15px;
    padding-top: 10px;
    border: white 1px solid;
    text-align: center;
    width: 290px;
}
.faci, .line{
    display: none;
}
.btn1{
    display: none;
}
.btn{
    margin-top: -3px;
    height: 30px;
    width: 60px;
    margin-left: -58px;
}
.loginPage{
    grid-row: inherit;
    height: 100px;
    width: 80px;
    background-color: #ac2b2b;
    z-index: 9999;
    margin-right: 0%;
    margin-left: 1px;
    display: grid;
    display: none;
    background-color: red;
    left: 10px;
    display: none;
    overflow: hidden;
}

.bottum{
    height: 30vh;
    width:360px;
    padding-top: 60px;
    margin-left: -250px;
}
.right{
    height: 70vh;
    width: 100vh;
    margin-left: -360px;
    padding-top: 30%;
    padding-left: 10%;
    background-color: #000000;
}
.img-2{
  display: none;
}
.exiit{
    margin-top: 40px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    display: block;
    font-size: 20px;
}
.Addlist{
    height: 350px;
    width: 80%;
    margin-top: 130px;
    /* background-color: red; */
    display: flex;
    margin-left: -480px;
    color: rgb(245, 233, 233);

    flex-direction: column;
    padding-top: 10px;
    padding-left: 300px;
    display: none;

}
}